# Main yml file to compile all tasks

# Install and create an Active Directory Domain on the target Windows Server
# Reboot after completion for changes to take effect
- name: Deploy Vulnerable AD
  hosts: windows
  vars_files: vars/variables.yml
  tasks:
  - name: Install Active Directory Domain Services
    ansible.windows.win_feature:
      name: AD-Domain-Services
      state: present

  - name: Promote Server to Domain Controller
    microsoft.ad.domain:
      dns_domain_name: "{{ domain_name }}"
      safe_mode_password: "{{ domain_passwd }}"
    register: status
  
  - name: Reboot after promotion
    ansible.windows.win_reboot:
    when: status.reboot_required

# Create 4 users in the domain, 2 are benign
# One user misconfigured to not require a password and hints toward another user
# One user configured to not require pre-authentication and has Administrator privileges
- name: Deploy AD Users
  hosts: windows
  vars_files: vars/variables.yml
  tasks:
# Pre-Authentication is turned off for this user
  - name: Create a vulnerable user (AS-REP Roasting candidate)
    community.windows.win_domain_user:
      name: "{{ vuln_user }}"
      password: "{{ vuln_passwd }}"
      state: present
      attributes:
        userAccountControl: 4194816

  - name: Create the GPO managers group
    community.windows.win_domain_group:
      name: "{{ vuln_group }}"
      scope: global
      category: security
      state: present

  - name: Add user to the vulnerable group
    community.windows.win_domain_group_membership:
      name: "{{ vuln_group }}"
      members:
        - "{{ vuln_user }}"
      state: present

  - name: Grant group admin rights via membership
    community.windows.win_domain_group_membership:
      name: "Administrators"
      members:
        - "{{ vuln_group }}"
      state: present

  - name: Create a benign red team user 
    community.windows.win_domain_user:
      name: "{{ arasaka_user }}"
      password: "{{ arasaka_passwd }}"
      state: present

  - name: Create a benign blue team user 
    community.windows.win_domain_user:
      name: "{{ gang_user }}"
      password: "{{ gang_passwd }}"
      state: present

  - name: Create a misconfigured user with no password required
    community.windows.win_domain_user:
      name: "{{ misconf_user }}"
      # 512 (Normal) + 32 (Password Not Required) = 544
      attributes:
        userAccountControl: 544
      state: present

# Misconf user description includes hint toward AS-REP roasting user
  - name: Set hint on the misconf_user account
    microsoft.ad.user:
      name: "{{ misconf_user }}"
      description: "LOG: Connected to Arasaka_Sync_Node. Legacy tunnel active for UID: sarasaka. Do not reset pre-auth flag."
      state: present

# Vuln user description confirms AS-REP roasting
  - name: Set technical breadcrumb on the vuln_user
    microsoft.ad.user:
      name: "{{ vuln_user }}"
      description: "SECURITY_NOTICE: Legacy mainframe compatibility mode. Kerberos Pre-Auth: DISABLED."
      state: present